/*RESETANDO O DOCUMENTO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/*TESTE DE CSS */
/* body{
    background-color: black;
} */

.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

/* SEMPRE QUE USAR FLUTUAÇÃO, PRECISAMOS LIMPAR A FLUTUAÇÃO DEPOIS */
.clear {
    clear: both;
}

header {
    background-color: #1878f2;
    padding: 8px 0;
}

.logo {
    float: left;
    color: white;
}

.logo h2 {
    font-size: 29px;
    font-weight:600;
}

form.form-login {
    float: right;
}

.form-login .form-element {
    display: inline-block;
    margin-right: 15px;
}

.form-element p {
    color: white;
    font-size: 14px;
}

.form-element input[type="email"],
.form-element input[type="password"] {
    margin-top: 4px;
}

.form-element input[type="submit"] {
    cursor: pointer;
    border: 0;
    background: #1969e5;
    border: 2px solid #215ab2;
    color: white;
    padding: 3px 5px;
}

.form-element input[type="submit"]:hover {
    background: #215ab2;
}

section.main {
    background: linear-gradient(white, #d3d8e8);
    padding: 40px 0;
}

.img-like {
    float: left;
    width: 70%;
}

.img-like img {
    max-width: 100%;
}

.create-account{
    width: 30%;
    float: left;
}

.new-account .h2{
    font-size: 35px;
    color: black;
}

.new-account .h3{
    font-size: 19px;
    color: rgb(30, 30, 30);
    font-weight: normal;
    margin-top: 8px;
}

form.create-account{
    margin-top: 10px;
}

.w50{
    width: 50%;
    float: left;
    padding:0 5px;
}

.w100{
    width: 100%;
    float: left;
    padding:0 5px;
}

form.create-account input{
    width: 100%;
    margin-top: 8px;
}

form.create-account input[type=email],
form.create-account input[type=text],
form.create-account input[type=password]{
    height: 40px;
    padding-left: 10px;
    border: 1px solid #a5dcff ;
}